.courseInfo {
    margin-top: 10px;
    width: 70%;
    min-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.content {
    display: flex;
    width: 100%;
}

.description {
    width: 100%;
    text-align: justify;
    border: 1px solid grey;
    margin-right: 5px;
    padding: 10px;
}

.detail {
    width: 100%;
    min-width: 340px;
    border: 1px solid grey;
    margin-left: 5px;
    padding: 10px;
}

.author, .title {
    text-transform: capitalize;
}

@media only screen and (max-width: 968px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
}