.header {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid grey;
    background-color: rgba(13, 17, 194, 0.8);
}

.userName {
    display: flex;
    align-items: center;
}

.userName h2 {
    margin-right: 20px;
}

ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

li {
    list-style-type: none;
}

